{% extends 'base.html' %}

{% block title %} viewing {{ snippet.url }} {% endblock %}

{% block content %}
    
    <h2>Viewing paste: <span>{{ snippet.url }}</span></h2>


    <p id="paste-details"><a style="float:left" href="{% url detail-raw snippet.url %}">Raw</a> {{ snippet.lexer|title }}, {{ snippet.line_count }} lines, created {{ snippet.created|timesince }} ago</p>
    
    
    <div class="highlighted">
    {{ snippet.code_highlight|safe }}
    </div>

    {% if not snippet.locked %}

    <form id="pasteform" action="/" method="post">{% csrf_token %}
        <ul>
            {{ form.as_ul }}
        </ul>
        <input type="hidden" name="url" value="{{ snippet.url }}">
        <input type="submit" value="Save">
    </form>
    {% endif %}

{% endblock %}
