<!doctype html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7]> <html class="no-js ie6" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <title>pae.st - {% block title %} paste your stuffs {% endblock %}</title>
    
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <meta name="description" content="A programmer friendly pastebin.">
    <meta name="keywords" content="pastebin,paste code,code,programmer,computer programming">
    <meta name="author" content="Titus Soporan">

    <!-- Mobile viewport optimized: j.mp/bplateviewport -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="shortcut icon" href="{{ STATIC_URL }}img/favicon.ico">
    <link rel="apple-touch-icon" href="{{ STATIC_URL }}img/apple-touch-icon.png">

    {% block extrahead %}
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/global.css" media="screen"> 
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/pygments.css" media="screen"> 
    <script src="{{ STATIC_URL }}js/libs/modernizr-1.7.min.js"></script>
    {% endblock %}
</head>
<body>
<div id="container">

    <header>
        <h1><a title="pae.st" href="{% url paste %}">pae.st</a></h1>
    </header>

    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
                
    {% block content %} {% endblock %}    

</div> <!-- en container -->
<footer>
<p>{% now "Y" %}
    <a href="https://github.com/tsoporan/paest"> github </a>
    made by the folks @ udderweb, join our irc: <a href="http://tinyurl.com/adullamirc">udderweb.com</a>
</p>
</footer>


  <!-- Grab Google CDN's jQuery, with a protocol relative URL; fall back to local if necessary -->
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.6/jquery.js"></script>
  <script>window.jQuery || document.write("<script src='js/libs/jquery-1.6.min.js'>\x3C/script>")</script>


  <!-- scripts concatenated and minified via ant build script-->
  <script src="{{ STATIC_URL }}js/plugins.js"></script>
  <script src="{{ STATIC_URL }}js/script.js"></script>
  <!-- end scripts-->


  <!-- mathiasbynens.be/notes/async-analytics-snippet Change UA-XXXXX-X to be your site's ID -->
  <script>
    var _gaq=[["_setAccount","UA-22315235-3"],["_trackPageview"],["_trackPageLoadTime"]];
    (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];g.async=1;
    g.src=("https:"==location.protocol?"//ssl":"//www")+".google-analytics.com/ga.js";
    s.parentNode.insertBefore(g,s)}(document,"script"));
  </script>

</body>
</html>



